@{
    ViewData["Title"] = "LUGX";
    ViewBag.ActivePage = "Home";
}
@model IEnumerable<GameResponseDTO>


<div class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="caption header-text">
                    <h6>Welcome to lugx</h6>
                    <h2>BEST GAMING SITE EVER!</h2>
                    </div>
                </div>
            </div>
          </div>
          </div>


<div class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="item">
                        <div class="image">
                            <img src="~/images/featured-01.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>Online Store</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="item">
                        <div class="image">
                            <img src="~/images/featured-02.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>User Account</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="item">
                        <div class="image">
                            <img src="~/images/featured-03.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>Esay return</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="item">
                        <div class="image">
                            <img src="~/images/featured-04.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>Simple UI</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="section trending">
    <div class="container">
        <div class="row">
            <div>
                <div class="section-heading">
                    <h6>Sales</h6>
                    <h2>Discount Games</h2>
                </div>
            </div>
            @foreach (var game in Model)
            {
                if(game.OldPrice != null)
                {
                    <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="thumb">
                                <a href="product-details.html"><img src="~/images/games/@game.ImageUrl"></a>
                                <span class="price"><em>$@game.OldPrice</em>$@game.Price</span>
                    </div>
                    <div class="down-content">
                        <span class="category">@game.Genre.Name</span>
                                <h4>@game.Title</h4>
                                <a asp-controller="Game" asp-action="details" asp-route-id="@game.Id"><i class="fa fa-shopping-bag"></i></a>
                    </div>
                </div>
            </div>
                }
            }
        </div>
    </div>
</div>

<div class="section most-played">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h6>TOP GAMES</h6>
                    <h2>Most Played</h2>
                </div>
            </div>
            <div class="col-lg-6">
   
            </div>
            @foreach(var game in Model)
            {
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="item">
                    <div class="thumb">
                            <a href="product-details.html"><img src="~/images/games/@game.ImageUrl" alt=""></a>
                    </div>
                    <div class="down-content">
                        <span class="category">@game.Genre.Name</span>
                        <h4>@game.Title</h4>
                         <a asp-controller="Game" asp-action="details" asp-route-id="@game.Id">Explore</a>

                    </div>
                </div>
            </div>
            }

        </div>
    </div>
</div>

